hr {
  height: 4px;
  background-color: #ede0d4;
  border: 2px solid #a47148;
  margin-top: 80px;
  margin-bottom: 80px;
}

.top-background{
  background-color: #583101;
    color: #e6ccb2;
    font-family:'Palatino';
    font-size: 30px;
}
img {
      display: block;
      margin: 0 auto;
      width: 40%;
    }
.image-circle{
  border-radius: 25%;
}
.image-background{
  background-color: #6f4518
}
.middle-background{
  background-color: #a47148;
    color: #000814;
    font-family:'Palatino';
    font-size: 15px;
}
.bottom-background{
  background-color: #f2e9e4;
    color: #000814;
    font-family:'Palatino';
    font-size: 15px;
}
h1{
  text-align: center;
}
h2{
  text-align: center;.
}
a:link    { color: #03071e }
a:visited { color: #ede0d4 }
a:hover   { color: #e6ccb2 }
a:active  { color: #ddb892 }

footer{
  text-align: center;
}
