h1{
  color: 
  font-family: 
  font-size:
  
}
h2{
  color: 
  font-family: 
  font-size:
}

  
h3{
  color: 
  font-family: 
  font-size:
}

  p{

    
  }


 /* /whateverfolder/image.jpg

*/





a:link    { color:    }
a:visited { color:  }
a:hover   { color:  }
a:active  { color: ; }


