.top-background{
  background-color: #9a8c98;
    color: #f2e9e4;
    font-family:'Palatino';
    font-size: 30px;
}
.image-circle{
  border-radius: 25%;
}
.image-background{
  background-color: #f2e9e4
}
.middle-background{
  background-color: #c9ada7;
    color: #f2e9e4;
    font-family:'Palatino';
    font-size: 15px;
}
.bottom-background{
  background-color: #f2e9e4;
    color: #000814;
    font-family:'Palatino';
    font-size: 15px;
}
